.categories-bar {
  width: 100%;
  background: linear-gradient(90deg,#0095ff, #06d9ec, #01f059);
  padding: 10px 0;
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
  margin-left: 0px;
}

.categories-bar ul {
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.categories-bar li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  padding: 6px 14px;
}

.categories-bar li a:hover {
  border: 1px solid #fff;
  border-radius: 18px;
}

.categories-title {
  display: none;
}

@media (max-width: 768px) {
  .categories-title {
    background: linear-gradient(90deg,#0095ff, #06d9ec, #01f059);
    margin: 0;
    padding-left: 23px;
    display: block;
  }

  .categories-title,
.categories-bar {
  box-sizing: border-box;
  max-width: 100%;
}


  .categories-bar {
    background: var(--background-secondary-color);
  }
  .categories-bar ul {
    flex-direction: column;
    gap: 10px;
     display: block;
    justify-content: flex-start;
  }

  .categories-bar li a{
    font-size: 12px;
    padding: 4px;
  }
}