.cart-container {
  background-color: #202020;
  box-shadow: 0px 1px 30px #000000ad;
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
  border-bottom: 1px solid #3a3a3a;
  margin-bottom: 10px;
}

.item-info {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}

.card-image-cart {
  width: 125;
  height: 125px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 15px;
}

.btn-delete-cart {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 6px 8px;
  border-radius: 20px;
  cursor: pointer;
}

.qty-control {
  display: flex;
  align-items: center;
  gap: 5px;
}

.qty-control button {
  background-color: #222;
  color: #fff;
  border: 1px solid #555;
  width: 26px;
  height: 26px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50%;
}

.qty-control button:hover {
  background-color: #444;
}

.qty-control span {
  min-width: 30px;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

.cart-total-text {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  text-align: right;
}

.client-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.client-input {
  max-width: 400px;
  padding: 10px 12px;
  border: 1px solid #444;
  border-radius: 20px;
  font-size: 14px;
  background: #2a2a2a;
  color: #f5f5f5;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 4px;
}

.client-input::placeholder {
  color: #aaa;
}

.client-input:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 4px #03ddd299;
  outline: none;
}

.client-btn {
  width: 250px;
}

.terms-checkbox {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-size: 14px;
  color: #fff;
}

.terms-checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.custom-checkbox {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid #ccc;
  display: inline-block;
}

.terms-checkbox input[type="checkbox"]:checked + .custom-checkbox {
  background: #ccc;
}

.terms-link {
  color: #ccc;
  text-decoration: underline;
}

.terms-link:hover {
  color: var(--primary-color);
}

@media (max-width: 768px) {
  .text-name-item {
  font-size: 14px;
}}
