.card-link {
  text-decoration: none;
  color: inherit;
}

.card {
  background-color: #1a1a1a;
  border: 2px solid transparent;
  border-radius: 12px;
  max-width: 230px;
  height: 380px;
  cursor: default;
  box-shadow: 0 0 12px #ffffff4d;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  border-color: var(--primary-color);
  box-shadow: 0 0 12px rgba(0, 233, 254, 0.6);
}

.card-image {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 12px;
}

.card-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 8px;
}

.card-price-container {
  display: inline-flex;
  align-items: baseline;
  justify-content: space-between;
  margin-inline: 8px;
}
.card-price {
  font-size: 0.95rem;
  font-weight: 600;
  color: #ff4000;
}

.price-decimals {
  font-size: 0.8rem;
  vertical-align: super;
  margin-left: 2px;
}

.add-cart-button {
  background-color: #0091ff;
  border: none;
  border-radius: 5px;
  justify-content: center;
}

.add-cart-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.add-cart-button.disabled {
  background-color: #555;
  cursor: not-allowed;
  transform: none;
}

@media (max-width: 900px) {
  .card {
    max-width: 180px;
    height: 320px;
  }

  .card-title {
    font-size: 1rem;
  }

  .card-image {
    height: 170px;
  }
}

@media (max-width: 600px) {
  .card {
    max-width: 140px;
  }

  .card-title {
    font-size: 1rem;
  }

  .card-image {
    height: 160px;
  }
}