.footer {
    display: flex;
    background-color: #202020cc;
    width: 100vw;
    margin-left: 0px
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
}

.footer-lists {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
}

.text-footer {
    width: 500px;
    text-align: center;
}

.footer-text {
    margin-left: 20px;
}

.footer-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    align-items: flex-start;
    list-style: none;
}

.title-footer-list {
    font-size: 18px;
    color: var(--text-color);
    font-weight: bold;
}

.link-footer{
    text-align: left;
    font-size: 12px;
    margin-bottom: 10px;
    padding-right: 20px;
}

.link-footer a {
    color: var(--text-color);
    text-decoration: none;
}

.link-footer a:hover {
    color: var(--primary-color);
}

@media (max-width: 768px) {
  .footer-lists {
    flex-direction: column;
    gap: 20px;
    margin: 10px;
  }

  .text-footer {
    width: 100%; /* sa repar maine afisajul pe mobile pt liste */
  }
}