.product-detail-container-horizontal {
  display: flex;
  gap: 24px;
  padding: 20px;
  color: #fff;
  flex-wrap: wrap;
}

.product-image img {
  width: 300px;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
}

.product-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-end;
}

.product-name {
  font-size: 22px;
  font-weight: bold;
}

.product-actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 12px;
}

.product-price {
  font-weight: bold;
  color: #ff0000;
}

.price-int {
  font-size: 28px;
}

.product-price-decimals {
  font-size: 16px;
  margin-left: 2px;
  vertical-align: super;
}

.action-buttons {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.action-buttons button {
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

.btn-edit { 
  background-color: #10b981; 
  color: #fff; 
}

.btn-edit:hover {
   background-color: #0f9b76;
}

.btn-delete { 
  background-color: #ef4444; 
  color: #fff; 
}
.btn-delete:hover { 
  background-color: #dc2626; 
}

.btn-add-cart { 
  background-color: #0091ff; 
  color: #fff; 
}

.btn-add-cart:hover { 
  cursor: pointer;
  transform: scale(1.1);
}

.btn-add-cart.disabled {
  background-color: #555; /* gri */
  cursor: not-allowed;
  color: #ccc;
  transform: none;
}

.product-description {
  color: #ccc;
  line-height: 1.5;
  margin-top: 12px;
}

.out-of-stock {
  color: #f63636;
  margin-top: 8px;
}